@model IdentityServer.Service.Dtos.Identity.UserIdentityDto
@{
    ViewData["Title"] = "修改密码";

    var hasPassword = string.IsNullOrWhiteSpace(Model.Password) ? 0 : 1;
}
<h3>修改密码</h3>

<div class="row">
    <div class="col-md-6">
        <div>
            <div class="form-group" id="oldPasswordBox">
                <label for="OldPassword">旧密码</label>
                <input class="form-control" type="password" id="OldPassword" name="OldPassword" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label for="NewPassword">新密码</label>
                <input class="form-control" type="password" id="NewPassword" maxlength="50" name="NewPassword" placeholder="至少包含1位数字、小写字母、大写字母" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword2">确认密码</label>
                <input class="form-control" type="password" id="NewPassword2" maxlength="50" name="NewPassword2" autocomplete="off"/>
            </div>
            <button id="changePassworBtn" class="btn btn-primary">更新密码</button>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        var hasPassword =@hasPassword;

        $(function () {

            if (hasPassword === 0) {
                $("#oldPasswordBox").hide();
            }

            function checkPassWord(value) {
                var arr = [], array = [1, 2, 3, 4];
                if (value.length < 6) {//长度小于6
                    return 0;
                }
                if (/\d/.test(value)) {//包含了数字
                    arr.push(1);
                }
                if (/[a-z]/.test(value)) {//包含了小写的a到z
                    arr.push(2);
                }
                if (/[A-Z]/.test(value)) {//包含了大写的A到Z
                    arr.push(3);
                }
                if (/\W/.test(value)) {//非数字、字母、下划线
                    arr.push(4);
                }
                for (var i = 0; i < array.length; i++) {
                    if (arr.indexOf(array[i]) === -1) {
                        return array[i];
                    }
                }
            }

            $("#changePassworBtn").click(function () {

                var oldPassword = $("#OldPassword").val();
                var newPassword = $("#NewPassword").val();
                var newPassword2 = $("#NewPassword2").val();

                if (hasPassword===1) {
                    if (!oldPassword || oldPassword.length === 0 || oldPassword.trim() === "") {
                        alert("旧密码不能为空");
                        return false;
                    }
                }

                if (!newPassword || newPassword.length === 0 || newPassword.trim() === "") {
                    alert("新密码不能为空");
                    return false;
                }

                var check = checkPassWord(newPassword);
                if (check <= 3) {
                    switch (check) {
                        case 0:
                            alert("密码长度不能小于6");
                            return false;
                        case 1:
                            alert("密码需要包含数字");
                            return false;
                        case 2:
                            alert("密码需要包含小写字母");
                            return false;
                        case 3:
                            alert("密码需要包含大写字母");
                            return false;
                    }
                }

                if (!newPassword2 || newPassword2.length === 0 || newPassword2.trim() === "") {
                    alert("确认密码不能为空");
                    return false;
                }

                if (newPassword !== newPassword2) {
                    alert("2次密码不一致");
                    return false;
                }

                $.ajax({
                    url: "/user/changePassword",
                    type: "post",
                    data: { OldPassword: oldPassword, NewPassword: newPassword},
                    success: function (response) {
                        if (response.code === 0) {
                            window.location.href = "/";
                        } else {
                            alert(response.msg);
                        }
                    }
                });
            });

})
    </script>
}
