<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityServer.Admin</title>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/icomoon/style.css" rel="stylesheet" />
    <link href="~/assets/css/ecaps.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />

    <link href="~/lib/element-ui/index.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar">
            <a class="logo-box" href="/">
                <span>admin</span>
                <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
                <i class="icon-close" id="sidebar-toggle-button-close"></i>
            </a>
            <div class="page-sidebar-inner">
                <div class="page-sidebar-menu">
                    <ul class="accordion-menu">
                        <li class="active-page">
                            <a href="/">
                                <i class="menu-icon icon-home4"></i><span>首页</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Configuration/Clients">
                                <i class="menu-icon icon-inbox"></i><span>客户端</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Configuration/ApiScopes">
                                <i class="menu-icon icon-my_location"></i><span>API作用域</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Configuration/IdentityResources">
                                <i class="menu-icon icon-flash_on"></i><span>身份资源</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Configuration/ApiResources">
                                <i class="menu-icon icon-layers"></i><span>API资源</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Grant/PersistedGrants">
                                <i class="menu-icon icon-code"></i><span>持久授权</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Management/Users">
                                <i class="menu-icon icon-user"></i><span>用户</span>
                            </a>
                        </li>

                        <li class="menu-divider"></li>
                        <li>
                            <a href="https://github.com/zhangkong828/IdentityServer" target="_blank">
                                <i class="menu-icon icon-github"></i><span>GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Header -->
            <div class="page-header">
                <div class="search-form">
                    <form  method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control search-input" placeholder="..." autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="logo-sm">
                                <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                <a class="logo-box" href="index.html"><span>ecaps</span></a>
                            </div>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="fa fa-bars"></i></a></li>
                                <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li><a href="javascript:void(0)" id="search-button"><i class="fa fa-search"></i></a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="javascript:void(0)" class="right-sidebar-toggle" data-sidebar-id="main-right-sidebar"><i class="fa fa-envelope"></i></a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></a>
                                </li>
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="http://via.placeholder.com/36x36" alt="" class="img-circle"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Account/Logout">退出</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div><!-- /Page Header -->
            <!-- Page Inner -->
            <div class="page-inner">
                @RenderBody()
                <div class="page-footer">
                    <p>Copyright &copy; @(DateTime.Now.Year) <a href="https://github.com/zhangkong828/IdentityServer">IdentityServer</a></p>
                </div>
            </div><!-- /Page Inner -->
        </div><!-- /Page Content -->
    </div><!-- /Page Container -->

    <script src="~/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/ecaps.min.js"></script>

    <script src="~/lib/vue.js"></script>
    <script src="~/lib/vuefilters.js"></script>
    <script src="~/lib/element-ui/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
