
@{
    ViewData["Title"] = "API范围";
}

<div id="apiScopeApp">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <div class="panel-title" style="padding:0;"><h4 class="breadcrumb-header">API范围</h4></div>
                </div>
                <div class="panel-body">
                    <el-form label-position="right" label-width="250px">
                        <el-form-item>
                            <label slot="label">
                                <span>名称</span><el-tooltip class="item" content="API范围的唯一名称。 这是客户端将用于授权请求中的作用域参数的值" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-input v-model="apiScope.name"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>显示名称</span><el-tooltip class="item" content="该值将用于例如 在同意屏幕上" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-input v-model="apiScope.displayName"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>描述</span><el-tooltip class="item" content="该值将用于例如 在同意屏幕上" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-input v-model="apiScope.description"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>启用</span><el-tooltip class="item" content="指示此资源是否已启用且可以请求。 默认为 true" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-switch v-model="apiScope.enabled"></el-switch>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>在发现文档中显示</span><el-tooltip class="item" content="指定此作用域是否显示在发现文档中。 默认为 true" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-switch v-model="apiScope.showInDiscoveryDocument"></el-switch>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>必须</span><el-tooltip class="item" content="指定用户是否可以在同意屏幕上取消选择作用域（如果同意屏幕要实现此类功能）。 默认为 false" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-switch v-model="apiScope.required"></el-switch>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>强调</span><el-tooltip class="item" content="指定同意屏幕是否会强调此作用域（如果同意屏幕要实现此类功能）。 将此设置用于敏感或重要作用域。 默认为 false" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-switch v-model="apiScope.emphasize"></el-switch>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>用户声明</span><el-tooltip class="item" content="应包含在身份令牌 id_token 中的关联用户声明类型的列表" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-select v-model="apiScope.userClaims" multiple filterable allow-create default-first-option placeholder="2个以上字符" style="width:100%">
                                <el-option v-for="item in userClaimsOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <label slot="label">
                                <span>属性</span><el-tooltip class="item" content="需要保留任何自定义API范围特定值的字典" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                            </label>
                            <el-button type="primary" size="small" @@click="dialogApiScopeProperties">管理API范围属性</el-button>
                        </el-form-item>
                    </el-form>
                    <el-button size="small" type="primary" plain icon="el-icon-refresh-right" @@click="editApiScope">保存</el-button>
                </div>
            </div>
        </div>
    </div>


    <el-dialog title="API范围属性" :visible="dialogForApiScopeProperties" :close-on-press-escape="false" :show-close="false">
        <el-card class="box-card" shadow="never">
            <div slot="header" class="clearfix">
                <span>添加属性</span>
                <el-button style="float: right; padding: 3px 0" type="text" @@click="addApiScopeProperty">添加</el-button>
            </div>
            <el-form :model="apiScopeProperty" label-width="250px" size="medium">
                <el-form-item>
                    <label slot="label">
                        <span>键</span><el-tooltip class="item" content="属性键" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                    </label>
                    <el-input v-model="apiScopeProperty.key"></el-input>
                </el-form-item>
                <el-form-item>
                    <label slot="label">
                        <span>值</span><el-tooltip class="item" content="属性值" placement="top"><i class="el-icon-warning"></i></el-tooltip>
                    </label>
                    <el-input v-model="apiScopeProperty.value"></el-input>
                </el-form-item>
            </el-form>
        </el-card>

        <el-table :data="apiScope.properties" style="width: 100%">
            <el-table-column prop="key"
                             label="键">
            </el-table-column>
            <el-table-column prop="value"
                             label="值">
            </el-table-column>
            <el-table-column fixed="right"
                             label="操作">
                <template slot-scope="scope">
                    <el-button size="mini" type="danger" plain @@click="deleteApiScopeProperty(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @@click="dialogForApiScopeProperties = false;">关闭</el-button>
        </div>
    </el-dialog>


</div>


@section Scripts{
    <script>
        var apiScopeApp = new Vue({
            el: '#apiScopeApp',
            data: {
                screenLoading: false,
                apiScope: {},
                userClaimsOptions: [
                    {
                        value: 'profile',
                        label: 'profile'
                    },
                    {
                        value: 'website',
                        label: 'website'
                    },
                    {
                        value: 'updated_at',
                        label: 'updated_at'
                    },
                    {
                        value: 'preferred_username',
                        label: 'preferred_username'
                    },
                    {
                        value: 'picture',
                        label: 'picture'
                    },
                    {
                        value: 'nickname',
                        label: 'nickname'
                    },
                    {
                        value: 'name',
                        label: 'name'
                    },
                    {
                        value: 'gender',
                        label: 'gender'
                    },
                    {
                        value: 'birthdate',
                        label: 'birthdate'
                    },
                    {
                        value: 'address',
                        label: 'address'
                    }
                ],
                dialogForApiScopeProperties: false,
                apiScopeProperty: {},
            },
            methods: {
                loadData(apiScopeId) {
                    var that = this;
                    $.ajax({
                        url: "/Configuration/QueryApiScope",
                        type: "post",
                        data: { id: apiScopeId },
                        beforeSend: function () { that.screenLoading = true; },
                        complete: function () { that.screenLoading = false; },
                        success: function (response) {
                            console.log(response);
                            if (response.code === 0) {
                                that.apiScope = response.data;
                            } else {
                                window.location.href = "/Configuration/ApiScopes";
                            }
                        }
                    });
                },
                editApiScope() {
                    var that = this;
                    var apiScope = this.apiScope;
                    if (!apiScope.name || apiScope.name === "") {
                        this.$message.error('API范围名称不能为空');
                        return;
                    }

                    $.ajax({
                        url: "/Configuration/ApiScope",
                        type: "post",
                        data: apiScope,
                        beforeSend: function () { that.screenLoading = true; },
                        complete: function () { that.screenLoading = false; },
                        success: function (response) {
                            if (response.code === 0) {
                                that.$message.success(response.msg);
                                that.loadData(apiScope.id);
                            } else {
                                that.$message.error(response.msg);
                            }
                        }
                    });
                },
                formatDate(row, column) {
                    var dt = row[column.property]
                    if (dt === undefined || dt === null) {
                        return ''
                    }
                    var date = new Date(dt)
                    var Y = date.getFullYear() + '-';
                    var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                    var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
                    var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
                    var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
                    var s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
                    return Y + M + D + h + m + s;
                },
                dialogApiScopeProperties() {
                    this.apiScopeProperty = { };
                    this.dialogForApiScopeProperties = true;
                },
                addApiScopeProperty() {
                    var that = this;
                    if (!that.apiScopeProperty.key || that.apiScopeProperty.key === "") {
                        this.$message.error('键不能为空');
                        return;
                    }
                    if (!that.apiScopeProperty.value || that.apiScopeProperty.value === "") {
                        this.$message.error('值不能为空');
                        return;
                    }
                    $.ajax({
                        url: "/Configuration/AddApiScopeProperty",
                        type: "post",
                        data: { apiScopeId: that.apiScope.id, apiScopeProperty: that.apiScopeProperty },
                        success: function (response) {
                            console.log(response);
                            if (response.code === 0) {
                                that.loadData(that.apiScope.id);
                                that.apiScopeProperty = {};
                            } else {
                                this.$message.error(response.msg);
                            }
                        }
                    });
                },
                deleteApiScopeProperty(item) {
                    var that = this;
                    this.$confirm('确定删除吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'error',
                        callback: action => {
                            if (action == 'confirm') {
                                $.ajax({
                                    url: "/Configuration/DeleteApiScopeProperty",
                                    type: "post",
                                    data: { id: item.id },
                                    success: function (response) {
                                        if (response.code === 0) {
                                            that.loadData(that.apiScope.id);
                                        } else {
                                            this.$message.error(response.msg);
                                        }
                                    }
                                });
                            }
                        }
                    });
                }

            },
            mounted: function () {
                var that = this;
                that.loadData(@ViewBag.ApiScopeId);
            }
        });
    </script>
}

