@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@model ErrorViewModel2
@inject IWebHostEnvironment env
@{
    Layout = null;
}
@{ var error = Model?.Error?.Error;
    var errorDescription = env.IsDevelopment() ? Model?.Error?.ErrorDescription : null;
    var request_id = Model?.Error?.RequestId; }

<div class="error-page">
    <div class="page-header">
        <h1>Error</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                @if (error != null)
                {
    <strong>
        <em>
            : @error
        </em>
    </strong> if (errorDescription != null)
    {
<div>@errorDescription</div>}
}
            </div>

            @if (request_id != null)
            {
<div class="request-id">@request_id</div>}
        </div>
    </div>
</div>

