@using IdentityServer4.Extensions
@{
    ViewData["Title"] = "首页";
}

<div class="welcome-block text-center">
    <h1 class="welcome-block-title">
        @*<img class="icon" alt="Logo" src=""><br />*@
        IdentityServer
    </h1>
    <p class="lead">统一认证授权中心</p>
</div>

<div class="row text-center">
    @if (!User.IsAuthenticated())
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">登录</h3>
                </div>
                <div class="panel-body">
                    <h1 class="card-title">
                        <span class="glyphicon glyphicon-lock" title="登录" aria-hidden="true"></span>
                    </h1>
                    <a href="/login" class="btn btn-lg btn-block btn-primary">登录</a>
                </div>
            </div>
        </div>
    }

    @if (User.IsAuthenticated())
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">授权应用</h3>
                </div>
                <div class="panel-body">
                    <h1 class="card-title">
                        <span class="glyphicon glyphicon-credit-card" title="授权应用" aria-hidden="true"></span>
                    </h1>
                    <a href="/grants" class="btn btn-lg btn-block btn-primary">授权应用</a>
                </div>
            </div>
        </div>
    }

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">发现文档</h3>
            </div>
            <div class="panel-body">
                <h1 class="card-title">
                    <span class="glyphicon glyphicon-map-marker" title="发现文档" aria-hidden="true"></span>
                </h1>
                <a href="~/.well-known/openid-configuration" class="btn btn-lg btn-block btn-primary" target="_blank">发现文档</a>
            </div>
        </div>
    </div>

    @if (User.IsAuthenticated())
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">个人信息</h3>
                </div>
                <div class="panel-body">
                    <h1 class="card-title">
                        <span class="glyphicon glyphicon-user" title="个人信息" aria-hidden="true"></span>
                    </h1>
                    <a href="/user" class="btn btn-lg btn-block btn-primary">个人信息</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">更改密码</h3>
                </div>
                <div class="panel-body">
                    <h1 class="card-title">
                        <span class="glyphicon glyphicon-pencil" title="更改密码" aria-hidden="true"></span>
                    </h1>
                    <a href="#" class="btn btn-lg btn-block btn-primary">更改密码</a>
                </div>
            </div>
        </div>
    }
</div>