@using IdentityServer4.Extensions
@{
    ViewData["Title"] = "首页";
}

<div class="welcome-block px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        @*<img class="icon" alt="Logo" src=""><br />*@
        IdentityServer
    </h1>
    <p class="lead">统一认证授权中心</p>
</div>

<div class="card-deck mb-3 text-center">
    @if (!User.IsAuthenticated())
    {
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">登录</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-lock-locked" title="登录" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-block btn-primary">登录</a>
            </div>
        </div>}

    @if (User.IsAuthenticated())
    {
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">持久授权</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-key" title="持久授权" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Grants" asp-action="Index" class="btn btn-lg btn-block btn-primary">持久授权</a>
            </div>
        </div>
    }

    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">发现文档</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-monitor" title="发现文档" aria-hidden="true"></span>
            </h1>
            <a href="~/.well-known/openid-configuration" class="btn btn-lg btn-block btn-outline-primary">发现文档</a>
        </div>
    </div>

    @if (User.IsAuthenticated())
    {
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">个人信息</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-person" title="个人信息" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Manage" asp-action="Index" class="btn btn-lg btn-block btn-primary">个人信息</a>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">更改密码</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-pencil" title="更改密码" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-lg btn-block btn-outline-primary">更改密码</a>
            </div>
        </div>
    }
</div>