@model ErrorViewModel
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Host
@{
    ViewData["Title"] = "Error";

    var error = Model?.Error?.Error;
    var errorDescription = Host.IsDevelopment() ? Model?.Error?.ErrorDescription : null;
    var request_id = Model?.Error?.RequestId;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<div class="error-page">
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                @if (error != null)
                {
                    <strong>
                        <em>
                            : @error
                        </em>
                    </strong> if (errorDescription != null)
                    {
                        <div>@errorDescription</div>}
                }
            </div>

            @if (request_id != null)
            {
                <div class="request-id"><strong>Request ID:</strong> <code>@request_id</code></div>
            }
        </div>
    </div>
</div>